/* Command: sass --watch sass/style.scss css/style.css*/

/******************** Imports ********************/

@import 'core';
@import 'hamburger';
@import 'w3schoolsLib.scss';

/******************** Variables ********************/
/******************** General ********************/

body {
    background-color: rgb(250, 250, 250);
}

/******************** Header ********************/

header {
    margin: 0 auto;
    // border: 1px solid black;
    width: 99.3%;

    background-color: white;
}

.grid-container {
    position: relative;

    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr;

    height: 100px;
    width: 100%;

    > * {
        justify-self: center;
        align-self: center;
        // border: 1px solid black;
    }

    #title {
        grid-column: 1 / span 4;
        grid-row: 1;

        font-size: 1.4em;
        font-family: Arial, Helvetica, sans-serif;

        text-align: center;
    }
}

#theMenu {
    display: none;
}

/******************** Main ********************/

main {
    display: grid;
    // grid-template: 1fr / 1fr;
    justify-items: center;
}

section {
    // display: block;
    border: 1px solid black;
}

#intro {
    font-family: HelveticaNeue,Helvetica Neue,helvetica,Sans-Serif;
    font-size: 1.5em;
    text-align: center;
}

#categories {
    .category {
        border: 1px solid red;
        margin: 20px 0;

        width: 100%;
        height: auto;

        clear: both;

        img {
            position: relative;
            width: 100%;
            height: 100%;

            z-index: 1;
        }

        .caption {
            border: 1px solid green;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
            position: relative;
            bottom: 20%;
            width: 85%;
            height: 100px;

            margin: 0 auto;
            background-color: white;

            z-index: 2;

            a, .captionTitle {
                text-align: center;
            }

            a {
                display: block;

                color: inherit;
                font: normal normal normal 14.25px/1.4em proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;
                letter-spacing: 0.25em;
            }

            .captionTitle {
                font-size: 23px;
                font: normal normal bold 23.465px/1.4em 'playfair display',serif;
            }
        }
    }
}

/******************** Footer ********************/
