/* Command: sass --watch sass/style.scss css/style.css*/

/******************** Imports ********************/

@import 'core';
@import 'hamburger';
@import 'w3schoolsLib.scss';

/******************** Variables ********************/
/******************** General ********************/

body {
    background-color: rgb(250, 250, 250);
}

/******************** Header ********************/

header {
    margin: 0 auto;
    // border: 1px solid black;
    width: 99.3%;

    background-color: white;
}

.grid-container {
    position: relative;

    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr;

    height: 100px;
    width: 100%;

    > * {
        justify-self: center;
        align-self: center;
        // border: 1px solid black;
    }

    #title {
        grid-column: 1 / span 4;
        grid-row: 1;

        font-size: 1.4em;
        font-family: Arial, Helvetica, sans-serif;

        text-align: center;
    }
}

#theMenu {
    display: none;
}

/******************** Main ********************/

main {
    display: grid;
    // grid-template: 1fr / 1fr;
    justify-items: center;
}

#intro {
    font-family: HelveticaNeue,Helvetica Neue,helvetica,Sans-Serif;
}

/******************** Footer ********************/
